In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 5.1 Introduction to pandas Data Structures

### Series

In [5]:
obj = pd.Series([4, 7, -5, 3])

In [6]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
obj.array

<NumpyExtensionArray>
[np.int64(4), np.int64(7), np.int64(-5), np.int64(3)]
Length: 4, dtype: int64

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj2 = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [11]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [12]:
#using the index to get the value associated with
obj2["a"]

np.int64(-5)

In [14]:
obj2["c"]

np.int64(3)

In [16]:
obj2[["c", "a", "d"]]

c    3
a   -5
d    4
dtype: int64

In [ ]:
#index value link is maintained even after applying functions

In [18]:
#boolean array
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [19]:
#scalar multiplication
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [20]:
#math function
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [21]:
"b" in obj2

True

In [22]:
"c" in obj2

True

In [23]:
"e" in obj2

False

In [25]:
#from a Python dict 
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}

#to a pandas Series
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [26]:
#and back to a Python dict
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [27]:
#cool

In [28]:
#overriding default key value placement with your own order
#the new index
states = ["California", "Ohio", "Oregon", "Texas"]

In [30]:
#placing the states into series as its index
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [31]:
#notice California is NaN and Utah has been left behind

In [33]:
#isna and notna
#which is missing a value and vice versa
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [34]:
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [35]:
#Series has isna and notna as instance methods
obj4.isna()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

### Data Alignment - like a join

In [36]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [37]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [38]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [ ]:
#looks like a full join to me, includes what is in both AND what is missing.

In [40]:
#Both Series and its index has a name attribute.
#Can change their names
obj4.name = "population"
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [41]:
#Changing a Series index IN ONE LINE
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [43]:
obj.index = ["Bob", "Steve", "Jeff", "Ryan"]
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

### DataFrame